*{
    margin: 0;
    padding: 0;
}
.header{
    height: 100px;
    width:100%;
    font-size: 50px;
    color: brown;
    background-color: #0afaf2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head-about{
    margin: 20px;
    font-size: 40px;
}
.about{
    margin: 20px;
    display: flex;
    font-size: 25px;
    width: 95%;
}

.mv{
    display: flex;
    margin: 20px;
    width: 95%;
    font-size: 30px;
}

.mv div{
    width: 50%;
}

.mv div p{
    font-size: 25px;
}

.base{
    height: 100px;
    width:100%;
    font-size: 50px;
    color: brown;
    background-color: #0afaf2;
    display: flex;
    justify-content: center;
    align-items: center;
}
